{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Which design software do you use?</h1>

    <form class="form" action="/computers/design-answer" method="post">

      <p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="design-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

          </legend>
          <div id="design-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-software" name="design-software" type="checkbox"
                value="figma" {{checked("design-software", "figma" )}}>
              <label class="govuk-label govuk-checkboxes__label" for="design-software">
                Figma
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-software" name="design-software" type="checkbox"
                value="gov prototyping kit" {{checked("design-software", "gov prototyping kit" )}}>
              <label class="govuk-label govuk-checkboxes__label" for="design-software">
                Gov prototyping kit
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-software" name="design-software" type="checkbox"
                value="pen and paper" {{checked("design-software", "pen and paper" )}}>
              <label class="govuk-label govuk-checkboxes__label" for="design-software">
                Pen and paper
              </label>
            </div>
          </div>

        </fieldset>
      </div>
      </p>

      <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>


{% endblock %}