{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Frequency of use</h1>

    <form class="form" action="/computers/frequency-answer" method="post">

      <p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How often do you use your computer?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-often" name="how-often" type="radio"
                value="everyday" {{checked("how-often", "everyday" )}}>
              <label class="govuk-label govuk-radios__label" for="how-often">
                Everyday
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-often-2" name="how-often" type="radio"
                value="sometimes" {{checked("how-often", "sometimes" )}}>
              <label class="govuk-label govuk-radios__label" for="how-often-2">
                Sometimes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-often-3" name="how-often" type="radio"
                value="only for work" {{checked("how-often", "only for work" )}}>
              <label class="govuk-label govuk-radios__label" for="how-often-3">
                Only for work
              </label>
            </div>
            
          </div>

        </fieldset>
      </div>
      </p>

      <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}