{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you like chocolate?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['do-you-like-chocolate'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/hot-chocolate/choco-1">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you like caramel chocolate?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['do-you-like-caramel-chocolate'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/hot-chocolate/choco-2">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>
        </div>
      </dl>

     

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/hot-chocolate/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
