{% extends "layout.html" %}{% block pageTitle %}Have you already paid the SSP relating to this claim?{% endblock %}{%
block beforeContent %}{% endblock %}{% block content %}<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        </summary>
        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="claimed-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" id="alreadyClaimed">Have you already claimed tax relief for
                            your goldfish?</h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item"><input class="govuk-radios__input" id="yes-claimed"
                                name="claimed" type="radio" value="Yes"><label class="govuk-label govuk-radios__label"
                                for="yes-claimed">Yes</label></div>
                        <div class="govuk-radios__item"><input class="govuk-radios__input" id="not-claimed"
                                name="claimed" type="radio" value="No"><label class="govuk-label govuk-radios__label"
                                for="not-claimed">No</label></div>
                    </div>
                </fieldset>
            </div><button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>{% endblock %}